<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;ll=59.939039,30.315785&amp;spn=39.456673,76.376953&amp;om=1&amp;msid=107323252446743170353.00044000e3beb2b6e52a5&amp;output=embed&amp;s=AARTsJoBBbCL-4B2xAlUGs6SlyQwzuidEg"></iframe><br /><small><a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;ll=59.939039,30.315785&amp;spn=39.456673,76.376953&amp;om=1&amp;msid=107323252446743170353.00044000e3beb2b6e52a5&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>