<a href="javascript:givePassword()">Hello <%= @user.name %></a>

<script type="text/javascript">
var count = 0;
function givePassword() {
  var note = "Of cooouurrse we're not gonna give you the password heeere!";
  var second_note = "Try lookin in thefile on this server";
  if (count == 0) {
    alert('I dont like beeing clicked.. humpf');
  } else if(count == 1) {
    alert('Stop clicking me :(');
  } else {
    alert('Im not talking to you anymore...');
  }
  count++;
}

</script>