<% solution = Solution.last -%>
<% if !solution.nil? && solution.release_at < Time.zone.now -%>
  <p class="leading">
    <h4> <%= solution.title %> </h4>
    <%= solution.description %>
    <br /> <br />
    <%= link_to "Click to download solutions", solution.pdf.url %>
  </p>
<% end -%>