<% if APP_SETTINGS['teaser']['use'] && (Episode.find_by_position(1).nil? || Time.zone.now < Episode.find_by_position(1).start_time) %>
  <% if current_user.teaser_winner? %>
    <p>
      Congratulations!<br /> 
      You won the teaser contest! <br />
      Crew will be in contact with you! Providing you have given your correct e-mail adress.
    </p>
  <% else %>
   <p>
     Sorry :( <br /> 
     <% if current_user.teaser.downcase == "blue" || current_user.teaser.downcase == "password is blue" %>
      You had the right answer, but someone was faster than you. This game is about speed!
     <% else %>
      You didn't have the right answer. Come back for the real game and try again!
     <% end %>
   </p>
  <% end %>
<% end %>