<% if APP_SETTINGS['teaser']['use'] && Time.zone.now < Episode.find_by_position(1).start_time %>
  <% if current_user.teaser_winner? %>
    <p>
      Congratulations!<br /> 
      You won the teaser contest! <br />
      Crew will be in contact with you! Providing you have given your correct e-mail adress.
    </p>
  <% else %>
   <p>
     Sorry :( <br /> 
     You didn't win the teaser contest this time,
     you had the wrong answer or someone else beat you to it. <br />
     The right answer was <strong><%= APP_SETTINGS['teaser']['answer'] %></strong>.
   </p>
  <% end %>
<% end %>