<div class="depot-form">  
  <%= error_messages_for "task" %> 
  <fieldset> 
  
  <legend>Enter Task Details</legend> 
  <span style="float:right"><%= link_to 'Destroy task', task_path(@task), :confirm => 'Really want to?', :method => :delete %></span>
    <% form_for :task, :url => task_path(@task), :html => { :method => 'put', :multipart => true } do |f| %>
      <%= render :partial => 'fields', :locals => { :f => f } %>
	    <p>
        <%= f.submit "Update Task", :class => "submit" %> 
      </p>
    
    <% end %>

  </fieldset> 
</div>