<div class="depot-form">  
  <%= error_messages_for "task" %> 
  <fieldset> 
    
  <% if @episodes.empty? %>
    <h3>All episodes has been frozen since they're LIVE!</h3>
  <% else %>
  
  <legend>Enter Task Details</legend> 
  
    <% form_for :task, :url => tasks_path, :html => { :multipart => true } do |f| %> 
      <%= render :partial => 'fields', :locals => { :f => f } %>
	    <p>
        <%= f.submit "Save Task", :class => "submit" %> 
      </p>
    
    <% end %> 
  
  <% end %>


  </fieldset> 
</div> 
