
  <h1><%= @task.name %></h1>


<p style="text-align: center; margin: 0px 0px 0px 0px;">
	<span class="progressBar percentImage1" id="element2"><%= progress_bar(@task, current_user) %>%</span></p>
<div id="counter_box" onClick="showInfoBox('timer_answer')" class="counter_box">
<span id="javascript_counter"></span>
</div>

<p>
  <%= @task.desc %>
</p>

<% unless @task.partial.empty? %>
  <% begin %>
  	<%= render :partial => partial_path(@task), :locals => {:task => @task, :user => current_user} %>
  <% rescue %>
  	<i>Technical Error - Notify an admin!</i>
  <% end %>
<% end %>


<div class="task_answer_container">
	<% form_tag :action => :answer do %>
	<p>
		<label for="task_answer">Answer:</label>
		<input type="text" id="text_input" disabled name="answer[text]" />
	</p>
	<input id="submit_button" name="commit" disabled type="submit" value="Send" />
	<% end %>
</div>

<span id="timer_answer" style="display:none;">
	To prevent hammering, you're only allowed to post one answer every 15 seconds. This rule applies to all players!
</span>

<script type="text/javascript">

startCounter();

</script>
<br />