<h2>Help</h2>
<p>In the good spirit of the Dreamhack Game, we offer a couple of tips below - courtesy of MIT Puzzle Team of '83. Should you require more help, hang out 
	in #dhgame @ quakenet, or email us at <a href="mailto:creators@dhgame.eu">creators@dhgame.eu</a>
</p>
<h3>For Starters</h3>
<p>Have you tried</p>
<i>reading the title and the blurb?</i><br />
<i>typing it into a search engine?</i><br />
<i>pursuing even a train of thought that doesn’t seem to give a cogent answer at ﬁrst?</i><br />
<i>looking at the list of helpful websites?</i><br />
<i>looking at the binder of useful stuff?</i><br />
<h3>Letters and words</h3>
<p>Have you tried</p>
<i>alphabetizing?</i><br />
<i>using the leftover letters to spell something?</i><br />
<i>rearranging the letters (aka "anagramming" or "transposing")?</i><br />
<i>looking for unusual letter frequencies?</i><br />
<i>determining if it is a Rot 13/Caesar shift in general?</i><br />
<i>shifting from letters to numbers?</i><br /> 
<i>treating letters as protein sequences?</i><br />
<i>treating letters as call letters?</i><br />
<i>turning it into a cryptic crossword clue?</i><br />
<i>seeing if these words relate to song lyrics?</i><br />
<i>seeing if there are any acronyms of phrases?</i><br />
<i>diagonalizing (taking the ﬁrst letter of the ﬁrst answer, the second letter of the second )?</i><br /> 
<i>looking at a computer keyboard?</i><br />
<i>a pun?</i><br /> 
<h3>Numbers</h3> 
<p>Have you tried</p> 
<i>graphing it functionally?</i><br /> 
<i>graphing it parametrically?</i><br /> 
<i>checking to see if your numbers are in the right base (including hex)?</i><br /> 
<i>shifting from numbers to letters?</i><br /> 
<i>using it as a phone number?</i><br /> 
<i>using it as an IP address?</i><br />
<i>matching numbers to MIT buildings?</i><br /> 
<i>matching numbers to MIT courses?</i><br />
<i>treating numbers as dates?</i><br /> 
<i>treating numbers as atomic weights, numbers, etc.?</i><br /> 
<i>treating numbers as latitude/longitude or GPS coordinates?</i><br /> 
<i>treating numbers as radio stations?</i><br /> 
<i>treating numbers as ASCII numbers?</i><br /> 
<i>treating numbers as PLU numbers?</i><br /> 
<i>treating numbers as ISBN numbers?</i><br /> 
<i>seeing if there are any strange sequences?</i><br /> 
<i>seeing if prime numbers are involved?</i><br /> 
<i>seeing if fundamental constants are involved?</i><br /> 
<i>asking what other numbers are close to the one you have?</i><br /> 
<h3>Thirteen ways of looking at a puzzle</h3>
<p>Have you tried</p> 
<i>looking at it in a mirror?</i><br /> 
<i>squinting at it from far away?</i><br /> 
<i>tilting it?</i><br /> 
<i>looking at it upside down?</i><br /> 
<i>looking through it?</i><br />
<i>rewriting it neatly?</i><br /> 
<i>rewriting it on graph paper?</i><br /> 
<i>saying it out loud to someone else?</i><br /> 
<i>putting yourself in the constructor’s shoes?</i><br /> 
<i>making it 3D?</i><br />
<i>cutting it up?</i><br /> 
<i>folding it?</i><br /> 
<i>connecting the dots?</i><br /> 
<h3>What is it?</h3>
<p>Have you tried</p> 
<i>looking at a song/poem/book/movie/TV show?</i><br /> 
<i>Braille?</i><br />
<i>Morse code?</i><br /> 
<i>overlaying it on a map of MIT?</i><br /> 
<i>getting on the T?</i><br /> 
<i>checking it for pop culture references?</i><br /> 
<i>using the Library of Congress or Dewey decimal system?</i><br /> 
<i>asking whether it has anything to do personally with the constructing team?</i><br /> 
<i>Palm grafitti?</i><br /> 
<i>running it by someone who goes to MIT?</i><br /> 
<h3>Zen</h3> 
<p>Have you tried</p> 
<i>trusting your instincts?</i><br /> 
<i>trusting someone else’s instincts?</i><br /> 
<i>asking “what’s weird about this?"</i><br />
<i>taking a step back?</i><br /> 
<i>asking for fresh brains?</i><br /> 
<i>checking your work?</i><br /> 
<i>asking someone else to check your work?</i><br /> 
<i>explaining your work to someone else?</i><br /> 
<i>doing what you’ve already done again to the output?</i><br /> 
<i>consulting the list of expertise?</i><br /> 
<i>leaving the room?</i><br />
<i>asking people if it looks like anything they recognize?</i><br /> 
<i>thinking about what’s missing?</i><br /> 
<i>asking yourself whether you’ve used all the information?</i><br /> 
<i>keeping even a strange-looking result?</i><br />
<i>not thinking about it?</i><br /> 
<i>asking "what's the pattern"?</i><br /> 
<i>rereading the instructions?</i><br />
