<div class="wrong-answer">
	<span style="display:none;"><%= wrong_answer.id %></span>
	<%= link_to wrong_answer.user.login, admin_user_path(wrong_answer.user) %> tried 
	<strong>"<%= wrong_answer.answer %>"</strong> on 
	<%= link_to wrong_answer.task.name, admin_task_path(wrong_answer.task) %><br />
</div>