<h2>List of wrong answers. Let hilarity ensue!</h2>
It's somewhat unvisualized for now.
<br /><br />

<div id="wrong-answers">
	<%= render :partial => 'wrong_answer', :collection => @wrong_answers %>
</div>