/* Design specific CSS */
html,body { background-color: #21262a;}
a {
	color: #fe8a00;
	text-decoration: none;
}
#superwrapper { 
	margin: 0px auto; 
	background: url('/images/bg_repeater.png') repeat-x;
}
#wrapper {
	margin: auto;
	color: #dddddd;
}
#header {
	background: url('/images/menu.png') no-repeat;
	height: 340px;
	width: 470px;
	margin:auto;
	position:relative;
}
.nopadding {padding:0;}
.message-box {
	background-color: #95a650;
	padding: 18px;
	color: #282828;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 198px;
}
.message-box a { color: #29338f; }
.loginbox { width: 84px; }
.disclaimer { font-size: 10px; font-style: italic;}
.shadowy {background: url('/images/menu.png') no-repeat 132px -355px;}
.fieldWithErrors { background-color: #FFBDBD;}
span.task {
	font-size: 24px;
}
.flashes {
	color:#414141;
	font-size:17px;
	padding-bottom:3px;
	padding-top:6px;
	background-color: #95a650;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
fieldset.flashes {
	text-align: center;
}

/* Styles of the sprited menu */

#menu {
	position: absolute;
	top: 320px;
	left:44px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	margin-right: 18px;
	float: left;
	cursor: pointer;
}
#menu li.home {
	background: url('/images/menu_sprite.png') no-repeat 0 1px;
	width: 45px;
	height: 19px;
}
#menu li.home.active {
	background: url('/images/menu_sprite.png') no-repeat 0 -20px;
}
#menu li.rules {
	background: url('/images/menu_sprite.png') no-repeat -107px 1px;
	width: 79px;
	height: 19px;
	margin-left: 42px;
}
#menu li.rules.active {
	background: url('/images/menu_sprite.png') no-repeat -107px -20px;
}
#menu li.help {
	background: url('/images/menu_sprite.png') no-repeat -242px 1px;
	width: 36px;
	height: 19px;
	margin-left: 41px;
}
#menu li.help.active {
	background: url('/images/menu_sprite.png') no-repeat -242px -20px;
}
#menu li.profile {
	background: url('/images/menu_sprite.png') no-repeat -336px 1px;
	width: 48px;
	height: 19px;
	margin-left: 40px;
}
#menu li.profile.active {
	background: url('/images/menu_sprite.png') no-repeat -336px -20px;
}
