/* Formy Stuff */

#task_desc {
	width: 100%;
}

.depot-form fieldset{
	width:600px;
	margin-right:auto;
	margin-left:auto;
}

#login-form {
	width: 100px;
}

fieldset table, fieldset p, fieldset div{
	width:400px;
	margin-right:auto;
	margin-left:auto;
}
.depot-form .submit{
	width:400px;
}

form .fieldWithErrors {
	display: inline;
	padding: 1px 0px 3px 0px;
	border:1px solid red;
}

.new_user_button{
	float:right;
}

/* System messages */

#box_of_notice{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border:2px dashed green;
	padding:10px;
}

#box_of_warning{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border:2px dashed red;
	padding:10px;
}

/* Task Specifics */

.counter_box{
	float:right;
}

#javascript_counter{
	font-size:3.5em;
}

.task_answer_container {
	margin-top: 30px;
}

.clearAll {
	clear: both;
}

/* Listy Items */
.head_row{
	font-weight:bold;
}
#user_table{
	width:100%;
	overflow: hidden;
}

.task_list{
	list-style-type:none;
}

.redLink a{
	color:red;
}

.redLink{
	color:red;
}

.overview_box{
	float: right;
	width:200px;
	border:1px solid white;
	padding:15px;
	margin:15px;
}

.login-form{
	width:180px;
	text-align:right;
	float:right;
}
