/* Layout stuff */

#main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	text-align: center;
}

#menu {
	clear: both;
}
#left-menu {
	text-align: left;
	float: left;
}
#menu a {
	text-decoration: none;
}
#right-menu {
	text-align: right;
	float: right;
}
#content {
	text-align: left;
	color:#FFF9E8;
	padding-bottom: 8px;
	font-size: 16px;
}
.generals {
	margin-left: auto;
	margin-right: auto;
	width: 835px;
	padding-left: 11px;
	padding-right: 11px;
	background-image: url('/images/bg-repeater.gif');
	background-repeat: repeat-y;
}
.greytext {
	color: #808080;
}

/* Formy Stuff */

.depot-form fieldset{
	width:600px;
	margin-right:auto;
	margin-left:auto;
}

.depot-form input{
	float:right;
}

fieldset p{
	width:400px;
	margin-right:auto;
	margin-left:auto;
}

.depot-form .submit{
	width:400px;
}

form .fieldWithErrors {
	border:none;
}

.new_user_button{
	float:right;
}


/* Edit-in-Place Stuff */

.editable-content a{
	color:inherit;
}

.editable-content{
	display:inline;
}

.editable-content-large{
	font-size:2.0em;
}

/* System messages */

#box_of_notice{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border:2px dashed green;
	padding:10px;
}

#box_of_warning{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border:2px dashed red;
	padding:10px;
}

/* Implementation Specifics */

.counter_box{
	float:right;
}

#javascript_counter{
	font-size:3.5em;
}

/* Listy Items */
.head_row{
	font-weight:bold;
}

#user_table{
	width:100%;
	overflow: hidden;
}

.task_list{
	list-style-type:none;
}

.redLink a{
	color:red;
}

.redLink{
	color:red;
}

.overview_box{
	float:right;
	width:200px;
	border:1px solid white;
	padding:15px;
	margin:15px;
}

.login-form{
	width:260px;
	text-align:right;
	float:right;
}
