<div class="answer">
  <% fields_for_object(answer) do |answer_form| %>
    <p>
     <%= answer_form.text_field :answer %>
     <%= link_to_function "remove", "$(this).getParent('.answer').destroy()" %>
    </p>
  <% end %>
</div>