<div class="depot-form">  
  <%= error_messages_for "episode" %> 
  <fieldset> 

    <legend>Enter Episode Details</legend> 
    <% form_for :episode, :url => episodes_path do |f| %> 
      <%= render :partial => 'fields', :locals => { :f => f } %>
	    <p>
        <%= f.submit "Save Episode", :class => "submit" %> 
      </p>
    <% end %> 
  
  </fieldset> 
</div> 
