<%= error_messages_for "episode" %> 
<h3>Enter Episode Details</h3>
or <%= link_to 'destroy episode', admin_episode_path(@episode), :confirm => 'Really want to?', :method => :delete, :style => "color: red;" %>

<% form_for :episode, :url => admin_episode_path(@episode), :html => { :class => "width2", :method => :put } do |f| %> 

	<%= render :partial => 'fields', :locals => { :f => f } %>
	<br style="clear:both;" />
	<label class="no-gutter">
	<%= f.submit "Update Episode", :class => "big-button" %> 
	</label>

<% end %>