<% content_for :title do%>
  <h1>Help</h1>
<% end %>
<p>
  The DreamHack game can be difficult and frustrating at times. This is part of the game. 
  The ultimate goal of the DreamHack Game challenge is to be calm and think simple while trying to be the fastest thinker out there. 
  <br />It's never as hard as you think it is. Head over to <strong>#dhgame @ quakenet</strong> on IRC to hang out with other players.
</p>
<h2>For beginners</h2>
<p>
  Welcome to the exciting world of The DreamHack Game!
</p>
<p>
  The game is all about figuring out what to do. As you play more you will get more and more into the
  spirit of the game and you will figure things out faster. It's nice to have a couple
  of friends to play with, but it's absolutely not necessary!
</p>
<p>
  If you want help with translation of this page or have general questions about the game,
  we in the crew are happy to help. Just e-mail <strong>creators@dhgame.eu</strong> or contact someone in charge in <strong>#dhgame @ quakenet</strong>.
  The IRC channel is also very helpful for finding people to play with or to talk generally about the game.
  However we ask you to <em>please don't post the tasks, clues or answers in the channel</em>.
</p>
<p>
  Good things to think about when trying to solve the game is numbers (count stuff), patterns and odd things that don't fit in.
  Tasks can be computer-related, but don't have to be, many times you will have to leave your seat and run to find clues. You might even have to
  interact with people from crew or even other players to be able to solve a task.
</p>

<h2>For initiated players</h2>
<p><strong>Think simple!</strong></p>
<p>
  Here's a list of things you might want to try!
</p>
<ol>
  <li>Google it!
  <li>Take a walk to see if you can find something at DreamHack which relates to the task</li>
  <li>Convert it to HEX</li>
  <li>Convert it to Binary</li>
  <li>Convert it to Decimal</li>
  <li>Braille</li>
  <li>Morse code</li>
  <li>Running it by someone in the DH Crew</li>
  <li>Alphabetize</li>
  <li>Rearrange the letters</li>
  <li>Look at the task in a mirror</li>
  <li>Say it out loud</li>
  <li>Make it into 3D</li>
  <li>Fold it</li>
  <li>Connect the dots</li>
  <li>Overlay it on a map of something</li>
  <li>Look at letter frequencies</li>
  <li>Determine if it's a shiffer of some kind</li>
  <li>Shift from letters to numbers</li>
  <li>See if text relates to song lyrics or poems</li>
  <li>Look at a computer keyboard to match up patterns</li>
  <li>Graph numbers or letter frequencies</li>
  <li>Change base of numbers</li>
  <li>Treat numbers as phone numbers, IP address, dates, atomic weights, coordinates, 
    radio stations, ASCII, ISBN</li>
  <li>Prime factor numbers</li>
</ol>

<p>
  <br />
  If nothing else works, leave it, go drink something 
  (like water or something else nutritious) and come back with 5 fresh ideas.
</p>