<% content_for :title do%>
  <h1>Help</h1>
<% end %>
<p>
  In order to play DHG, you must register on the front page.
</p>
<p>
  If you are having trouble registering please contact creators@dhgame.eu
</p>