<% content_for :title do%>
  <h1>Rules & General info</h1>
<% end %>
<p>
	<ul>
		<li>You win The DreamHack Game by answering questions as fast as possible - Not by cheating!</li>
		<br/>
		<li>It is not allowed to tear down clues, try to hack the server or access any restricted areas.</li>
		<br/>
		<li>You may compete in teams, but please try to keep the team size to a maximum of 10 people.</li>
		<br/>
		<li>You must have a seat ticket at DreamHack to be able to win</li>
		<br/>
		<li>All passwords are case-insensitive, it doesn't matter if you have capital letters or not!</li>
		<br/>
		<li>
		  The passwords are never completely random letters and numbers, but can be a combination of 
		  words and numbers or hexadecimal and binary digits.
		</li>
		<br/>
		<li>
		  The most important rule is that you are not allowed to ruin for anyone else. 
      Leave visited places as they were when you got there, don’t destroy clues.
    </li>
		<br/>
		<li>Never enter into restricted areas, you will never need to enter an area not open to the public.</li>
		<br/>
		<li>Do not post tasks, answers or clues in the IRC channel #dhgame @ quakenet</li>
		<br />
		<li>If you seem to have a problem of a technical nature, please e-mail the crew at creators@dhgame.eu</li>
	</ul>
</p>