<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" ></meta>
	<%= stylesheet_link_tag 'standards' %>
	<%= stylesheet_link_tag 'html' %>
	<%= stylesheet_link_tag 'jsProgressBarHandler' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jsProgressBarHandler' %>

	<title>Dreamhack Game Platform</title>
</head>
<body>
<div id="main">
/-------------------------------------------------------------------------------------------------------------------------------------------------------------------------\<br />
<div class="generals" id="banner">
<img src="/images/banner.png">
</div>
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------+<br />
<div class="generals" id="menu">
	<div id="left-menu">
		<%= home_link %> | <%= info_link %> | <%= help_link %>
		<% if !@user.nil? && @user.is_admin? %>
		|
		<%= link_to "Creation", :action => :create, :controller => :admin %> | <%= link_to "Timeline", :action => :timeline, :controller => :admin %> | <%= link_to "Users", :action => :users, :controller => :admin %>
		| <%= link_to "Stats", :action => :stats, :controller => :admin %>
		| <%= link_to "Progresses", :action => :progresses, :controller => :admin %>
		<% end %>
	</div>
	<div id="right-menu">
		<% if @user %>
			<%= link_to @user.name, :action => :edit_user, :id => @user.id %>
			| <%= link_to 'Logout', :controller => :public ,:action => :logout %>
		<% end %>
	</div>&nbsp;
</div>
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------+<br />
<div class="generals" id="content">


<%= yield %>

<% if flash[:error] %>
<div id="box_of_warning">
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div id="box_of_notice">
	<%= flash[:notice] %>
</div>
<% end %>

</div>
\-------------------------------------------------------------------------------------------------------------------------------------------------------------------------/<br />

</div>
</body>
</html>